@page "{CompaneyName?}"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@model DigitalServiceCenter.Pages.ServicesModel
@{
	ViewData["Title"] = "Services";
}

@inject UserManager<IdentityUser> UserManager


@*<h1>Services</h1>*@
<div class="container col-md-8">
	@*<a class="btn btn-primary btn-sm" href="/Registration">Add Companey</a>*@
	@foreach(var item in Model.Companeys)
	{
		<table class="table table-responsive bg-info">
			<tr>
				<th width="40%">Companey Name</th>
				<td>@item.CompaneyName</td>
			</tr>
			<tr>
				<th width="40%">Email</th>
				<td>@item.Email</td>
			</tr>
			<tr>
				<th width="40%">Subject</th>
				<td>@item.Subject</td>
			</tr>
			<tr>
				<th width="40%">Description</th>
				<td>@item.Discription</td>
			</tr>
			<tr>
				<th width="40%">Address/Contact Info</th>
				<td>@item.AddressContactInfo</td>
			</tr>
			@if(SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result,"admin"))
			{
				<tr>
					<td><a class="btn btn-primary" href="/Edit?Id=@item.Id">Edit</a></td>
					@*<td>
						<div class="form-group form-check">
							<label asp-for=@item.Status class="control-label"></label>
							<input asp-for=@item.Status class="form-check-input"/>
						</div>
					</td>*@
					<td><a class="btn btn-danger" href="/Delete?Id=@item.Id">Delete</a></td>
				</tr>
			}
		</table>
	}
</div>